# ----------------------------------------
# Premier serveur : par défaut pour 127.0.0.1:8080
# ----------------------------------------
server {
    listen 8080;
	host 127.0.0.1;
    # Choix du port et de l'host du serveur
    server_name monsite; # Setup server_names

    # Limite la taille du body des clients à 2 Mo
    # client_max_body_size 2M; # Limiter la taille du body des clients

    # Setup des pages d'erreur par défaut
    error_page 404 /errors/404.html;
    error_page 500 502 503 504 /errors/50x.html;

    # Route racine
    location / {
        root /var/www/html; # Répertoire racine où chercher les fichiers
        index index.html index.htm; # Fichier par défaut si la requête est un répertoire
        autoindex on; # Activer le listing des répertoires
        allow_methods POST # Liste de méthodes HTTP acceptées (GET et POST uniquement)
    }

    # Route avec redirection HTTP
    location /redirect-me {
        #return 301 https://autresite.com/; # Redirection HTTP
    }

    # Route spécifique avec un autre root et autoindex désactivé
    location /kapouet {
        root /tmp/www; # Définir un répertoire spécifique pour la route
        autoindex off; # Désactiver le listing des répertoires
        index default.html; # Fichier par défaut pour cette route
        allow_methods POST; # Seule la méthode GET est acceptée
    }

    # Route pour accepter les fichiers uploadés via POST
    location /upload {
        root /var/www/uploads; # Où enregistrer les fichiers uploadés
        client_body_temp_path /var/www/uploads/tmp; # Répertoire temporaire pour les uploads
        limit_except POST { deny all; } # Seule la méthode POST est acceptée
    }

    # Exécution CGI pour les fichiers .php
    location ~ \.php$ {
        root /var/www/html; # Répertoire où chercher les fichiers .php
        fastcgi_pass unix:/run/php/php8.2-fpm.sock; # Utilisation de PHP-FPM comme CGI
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name; # Chemin complet du fichier pour le CGI (PATH_INFO)
        include fastcgi_params;
        limit_except GET POST { deny all; } # Accepte GET et POST
    }

    # Fichiers d'erreur personnalisés
    location /errors/ {
        root /var/www; # Répertoire contenant les pages d'erreur personnalisées
        internal; # Ces pages ne sont pas accessibles directement
    }
}

# ----------------------------------------
# Second serveur : pour démontrer la gestion multi-host/port
# ----------------------------------------
server {
    listen 0.0.0.0:9090; # Autre port et host
    # Pas de server_name : ce serveur répondra à toutes les requêtes sur 0.0.0.0:9090

    # Page d'erreur générique
    error_page 404 /404.html;

    location / {
        root /srv/http;
        index index.html;
        autoindex off;
        limit_except GET { deny all; }
    }
}